/* You can add global styles to this file, and also import other style files */
.tituloClase{
  font-family: 'Sofia';font-size: 22px;

}
body {
  /* 1 Ubicación de la imagen */
  background-image: url('./assets/fondo.jpg');
  /* 2 centrada, vertical y horizontalmente */
  background-position: center center;
  /* 3 que no se repita */
  background-repeat: no-repeat;
  /* fijada en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-attachment: fixed;
  /* 4 se reescale automáticamente con el cambio del ancho de ventana del navegador */
  background-size: cover;
  /* b Se mueste un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
  background-color: rgb(243, 104, 104);
  /*b para que ocupe el 100% de la vista*/
  height: 100vh;
  opacity:0.75;
  }

  .miAvatar {
    width: 3rem;
    border: rgb(243, 247, 243) solid 0.5px;
    border-radius: 50%;
    margin: 0;
    padding: 5px;
  }


  card{
    background-color:rgb(234, 206, 124);
    border-radius:5px;

  }
  .card, .sombreado{
    box-shadow: 0px 10px 10px black;
  }
